@{
    ViewBag.Title = "Home Page";
}

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="jumbotron">
    <h1>What The Hike</h1>
    <p class="lead">
        Providing you with info about your favourite Hikes
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Our End Points</h2>
        <ul>
            <li>
                <a href="/Admin/Facility/1">
                    View Facility
                </a>
            </li>
            <li>
                <a href="/Admin/GetLocation/1">
                    Get Location
                </a>
            </li>
            <li>
                <a href="/Hike">
                    Get Hikes
                </a>
            </li>
            <li>
                <a href="/Hike/GetHike/1">
                    Get Specific Hike
                </a>
            </li>
            <li>
                <a href="/Hike/Weather/1">
                    Get Weather For Hike
                </a>
            </li>
            <li>
                <a href="/Hike/LeaderBoard">
                    Get Leader Board
                </a>
            </li>
            <li>
                <a href="/Home/ViewHikeLog">
                    Log New Hike
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Team Members</h2>
        <ul>
            <li>Stuart Barclay</li>
            <li>Keamo Mfoloe</li>
            <li>Kiara Smith</li>
            <li>Duncan Vodden</li>
            <li>Thami Xabanisa</li>
        </ul>
    </div>
</div>